.home-page-welcome {
  margin: 0 auto;
  text-align: center;
}
.home-page-welcome h1 {
  text-align: center;
}
.home-page-welcome h4 {
  margin: 0;
  border-bottom: none;
}

@media (min-width: 1400px) {
  .home-page-welcome img {
    width: 1300px;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1399px) {
  .home-page-welcome img {
    width: 1150px;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 799px) {
  .home-page-welcome img {
    width: 1000px;
    max-width: 100%;
    height: auto;
  }
}


.loading {
  background: #F5F5F5;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.non-scroll {
  height:35px;
  width:100%;
  position: relative;
  overflow: hidden;
  display:flex;
  white-space: nowrap;
  color:black ;
}

.non-scroll p {
  height: 100%;
  width:100%;
  margin:0;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  line-height:35px;
}

.non-scroll a{
  font-size: 16px;
  display:inline-block;
}

.scroll-left {
  height:35px;
  width:100%;
  position: relative;
  overflow: hidden;
  color: black;
  white-space: nowrap;
}

.scroll-left p {
  position: absolute;
  margin:0;
  height:100%;
  right:1%;
  text-align: right;
  font-size: 16px;
  display:inline-block;
  line-height: 35px;
  transform:translateX(100%);
  animation: scroll-left 28s linear infinite;
}

.scroll-left p:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0%{
    transform:translateX(100%);
  }
 100%{
    transform:translateX(-100%);
 }
}

.scroll-left a {
  text-align: right;
  display: inline-block;
  font-size: 16px;
}

.notification-title {
  color: #1E1E95 !important;
}
.small-btn-notification {
  height: 25px;
  padding-top: 4px;
  margin-left: 15px;
  font-size: 12px !important;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.row-relative { position: relative; }
.col-border-padding { padding-left: 15px; }
.col-border
{
  padding-left: 0;
  position: static;
}
.col-border:before
{
  border-left: 1px solid grey;
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
}
.full-document-view {
  table-layout: fixed;
  width: 100%;
}
.full-document-view td, .full-document-view th {
  border: 1px solid #dddddd;
  word-wrap: break-word;
}
.full-document-view th {
  background-color: #dddddd;
}
.no-animate .toggle-group {
   transition: none;
   -webkit-transition: none;
   -moz-transition: none;
   -o-transition: none;
}

.text-white {
  color: #fff !important;
}

.page-header {
  padding-bottom: 0 !important;
  margin: 0 !important;
}
/*Button COLORS - Overrides the Bootstrap 3.2 ones.*/
.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

/* Datatables */

.dataTables_scrollHead {
  font-size: 11px;
  height: 30px;
}

table {
  table-layout:fixed;
  width: 100% !important;
}

table td {
  word-wrap: break-word;
  max-width: 400px;
}

table th {
  font-size: 12px;
  word-wrap: break-word;
  max-width: 400px;
}

.dataTables_empty {
  color: black;
  background-color: #dae0e5;
}

div.clickable-row table tbody tr:hover {
  background-color: #f5f5f5;
  font-weight: bold;
  cursor: pointer !important;
}

div.non-clickable-row table tbody tr:hover {
  background-color: #f5f5f5;
  font-weight: bold;
}

div.dts_label {
  visibility: hidden;
}

div.scrollable-td {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}

.name-column {
  font-weight: bold;
}

.max-height-field {
  height: 10vh !important;
  overflow: auto !important;
}

/* Icon Styling */
.ebIcon_login, .ebIcon_help {
  background-size: 100% !important;
  margin-left: -5px;
}

.ebIcon_info {
  width: 17px;
  height: 17px;
}

.ebIcon {
  background-size: 80%;
}

.close-form-button {
  color: #4E4E4E;
}

.close-form-button:hover {
  background-color: #bbb9b9;
  color: black;
}

.content {
  position:absolute;
  top:50px;
  bottom:0;
  width: 100%;
  overflow:auto;
  overflow-x: hidden;
  padding: 5px 5%;
}

.footer {
  position:absolute;
  height:35px;
  bottom:0;
  width: 100%;
  background-color: darkred;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .overflow-content {
    overflow-x: auto !important;
    overflow-y: hidden !important;
  }
}

.search-clear {
  text-align: center;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
}
