<section class="smaller-width-section">
  <div class="tabcontent">
    <div class="page-header">
      <div class="btn-toolbar pull-right">
        <span style="width:10px"></span>

        <div class="btn-group">
          <a ui-sref="configurations.create" class="btn btn-success" ng-if="vm.allConfigurations.length === 0">Create</a>
        </div>
      </div>
      <h1>
        Configurations
      </h1>
    </div>
    <div class="clickable-row">
      <table class="table table-condensed" id="configuration-table">
        <tbody class="text-white">
        </tbody>
      </table>
    </div>
  </div>
</section>
